.container{
    background-color: rgb(216, 214, 214);
    height: 70vh;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 15vh;
    padding: 1em;
    /* display: grid; */
    
}
.display{
    height: 5em;
    /* width: ; */
    background-color: aqua;
    margin-top: .7em;
}
.row{
    display: flex;
    /* grid-template-columns: 5; */
    /* padding: 1em; */
    /* gap: ; */   
}
.btn{
    margin: 1em;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    font-size: 100;
}