body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
}
.container{
    width: 320px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0, 0, 10px, rgba(53, 53, 53, 0.1);
}
input, select{
    width: 100%;
    height: 43px;
    padding: 8px 10px ;
    margin: 10px 0;
    font-size: 16px;
    box-sizing: border-box;
}
button{
    width: 100%;
    height: 45px;
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button.hover{
    background:#0056b3;
}
h3{
    margin-top:15px ;
    font-weight: normal;
}